@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
:root {
   --white: #ffffff;
   --bg: #1b1e2b;
   --blue: #2797dd;
   --grey: #6e767d;
   --pink: #f72381;
   --body1-regular: 400 16px/1.8rem Nunito Sans, sans-serif;
   --body1-bold: 700 1rem/1.75rem Nunito Sans, sans-serif;
   --body2-bold: 700 0.75rem/1.5rem Nunito Sans, sans-serif;
   --body2-regular: 400 0.75rem/1.375rem Nunito Sans, sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   color: var(--white);
   font: var(--body1-regular);
   background-color: var(--bg);
   padding-top: 24px;
}
a {
   text-decoration: none;
   color: var(--grey);
}
li {
   list-style: none;
}
span {
   color: var(--grey);
}
.container {
   max-width: 90%;
   margin: 0 auto;
   display: flex;
   /* border: 1px solid grey; */
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}
.section-avatar,
.section-content {
   padding-left: 8px;
   padding-right: 8px;
}
.avatar img {
   width: 54px;
   height: 54px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
.contenido,
.card-img-anchor,
.icons {
   margin-top: 16px;
}
.contenido p {
   font-weight: 300;
   line-height: 28px;
}
.card-img-anchor {
   width: 95%;
   height: 100px;
   display: flex;
   border: 1px solid grey;
   border-radius: 18px 28px 28px 18px;
   -webkit-border-radius: 18px 28px 28px 18px;
   -moz-border-radius: 18px 28px 28px 18px;
   -ms-border-radius: 18px 28px 28px 18px;
   -o-border-radius: 18px 28px 28px 18px;
}
.card-img-anchor picture {
   width: 36%;
}
.card-img-anchor .enlaces {
   width: 64%;
   display: inherit;
   flex-direction: column;
   justify-content: center;
   margin-left: 16px;
}
.enlaces h3 {
   font-size: 24px;
   font-weight: 900;
   padding-bottom: 6px;
}
.card-img-anchor img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 18px 0px 0px 18px;
   -webkit-border-radius: 18px 0px 0px 18px;
   -moz-border-radius: 18px 0px 0px 18px;
   -ms-border-radius: 18px 0px 0px 18px;
   -o-border-radius: 18px 0px 0px 18px;
}
.icons {
   width: 100%;
   padding-top: 12px;
   padding-bottom: 18px;
}
.icons ul {
   display: flex;
   /* justify-content: space-between; */
}
.icons ul li {
   display: inherit;
   align-items: center;
   margin-right: 16px;
}
.icons ul li > span {
   padding-left: 6px;
}
.icons ul li > img,
svg {
   width: 16px;
   height: 16px;
}

/* Responsibe */
/* Large desktop */
@media (min-width: 1200px) {
   .container {
      padding: 12px;
      width: 60%;
      border: 1px solid grey;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
   }
   .card-img-anchor {
      height: 120px;
   }
   .card-img-anchor picture {
      width: 20%;
   }
   .card-img-anchor .enlaces {
      width: 80%;
   }
   .enlaces h3 {
      font-size: 18px;
   }
   .enlaces span {
      font-size: 12px;
   }
   .icons ul li:nth-child(2) svg:hover {
      stroke: rgb(74, 211, 33);
      /* background-color: green; */
   }
   .icons ul li:nth-child(3) svg:hover {
      stroke: hotpink;
      /* background-color: green; */
   }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}
